*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    background-color:  hsl(30, 38%, 92%);
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    
}  
.content{
    width: 60rem;
    height:45rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    overflow: hidden;
}
.text-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2.8rem;
    height: 45rem;
}
.grid{
    display: grid;
    
}
.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}
.image{
    width: 100%;
    
}
.perfume-text{
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500
    ;
}
h1{
    color: hsl(212, 21%, 14%) ;
    line-height: 1;
    padding: 1.4rem 0 1.4rem 0;
    letter-spacing: 1px;
}
h1, .big-price{
    font-family: "Fraunces", serif;
    font-size: 3.3rem;
    font-weight: 700;
    
}
.prices{
    display: flex;
    text-align: left;
    
    align-items: center;
}
.big-price{
    color: hsl(158, 36%, 37%);
    padding: 2.2rem 2.2rem 2.2rem 0;
}
.small-price{
    font-size: 1.5rem;
    text-decoration: line-through;
}
.paragraph{
    font-size: 1.5rem;
    line-height: 1.65;
    
}
.btn, .btn:link, .btn:visited{
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    text-decoration: none;
    transition: all 0.3s;
    text-align: center;
    border: none;
    cursor: pointer;
    font-family: inherit;
    justify-content: center;
    align-items: center;
}

.btn--full:link, 
.btn--full:visited{
    background-color:hsl(158, 36%, 37%);
    color: #fff;
}
.svg{
    margin-right: 1rem;
}